body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

button {
  padding: 0.5em 1em;
  margin: 0.5em;
  font-size: 1em;
}

svg {
  margin-top: 1em;
}
